* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 25px;
}

body {
    background-color: gainsboro;
}

/* Variables for common styles */
:root {
    --secondary-color: rgb(46 51 51);
    --primary-color: rgb(121 234 234);
    --font-size: 21px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    font-size: var(--font-size);
    background-color: var(--secondary-color);
}

.avatar-name {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-bottom: 7px;
    padding-right: 10px;
    font-size: 1.5rem;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar ul li {
    margin-left: 25px;
    margin-right: 25px;
}

.nav-link {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--primary-color)
}

.hero-image-background {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

.hero-figure {
    position: relative;
}

.hero-figure figcaption {
    background-color: var(--primary-color);
    position: absolute;
    bottom: 50px;
    right: 25px;
    padding: 10px;
    font-size: var(--font-size)
}

main {
    margin: 0 135px;
}

.main-section {
    display: flex;
    margin-bottom: 15px;
}

.main-section-item-1 {
    flex: 10%;
    padding: 10px;
    color: var(--secondary-color);
}

.main-section-item-2 {
    flex: 90%;
    padding: 10px;
    border-left: 3px solid var(--secondary-color);
    font-size: var(--font-size);
}

.main-section-item-2-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-section-item-2-work figure {
    position: relative;
    flex: 1 0 auto;
    height: 445px;
    width: 500px;
    overflow: hidden;
    border: 4px solid var(--primary-color);
    border-radius: 5px;
    margin: 10px;
}

.main-section-item-2-work figure:first-child {
    flex-basis: 90%;
    height: 500px;
    overflow: hidden;
}

.main-section-item-2-address {
    display: flex;
    justify-content: space-around;
}

.main-section-item-2-address a {
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 25px;
    font-style: normal;
}

.main-section-item-2-work figcaption {
    background-color: var(--primary-color);
    position: absolute;
    bottom: 18px;
    padding: 10px;
}

.work-section-stack{
    font-size: 14px;
}

.main-section-item-2-work img {
    width: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

/* Styles for mobile devices */
@media screen and (max-width : 768px) {
    .main-section {
        flex-direction: column;
    }

    main {
        margin: 0 25px;
    }

    .main-section-item-2-address {
        flex-wrap: wrap;
        gap: 10px;
    }

    .main-section-item-2-work figure,
    .main-section-item-2-work figure:first-child {
        height: 300px;
        flex: 1 0 90%;
    }
}